.page-elements{
  width: max-content;
  margin: 0 auto;
}
.header {
  display: flex;
  flex-direction: column;
}

.link span {
  color: #4bcaff;
}
.link {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 5rem;
  color: black;
}

.section {
  display: flex;
  margin-top: 40px;
  background-color: #35444f;
  justify-content: space-around;
  align-items: center;
  height: 69px;
}
.list {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  ;
}
.section-list-element {
  padding-left: 50px;
  padding-right: 50px;
  height: 100%;
}
.break-line {
  border-left: 1px solid #ffffff;
  height: 4.375rem;
}
.aside {
  display: flex;
  justify-content: space-between;
}
.section-left-side {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.688rem;
  color: #495863;
  
  
}
.aside-list-border{
  border-top: 1px solid black;
}
.aside-list {
  display: flex;
  flex-direction: column;
  width: 344px;
  height: 399px;
  border: 1px solid black;
  margin-top: 3.063rem;
}
.section-list-element:hover{
  background-color: #222F3A;
}
.aside-list-element:hover{
  background-color: #DBDBDB;
}
.aside-list-element{
padding-left: 30px;
list-style-type: none;
height: 100%;

}

.section-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 885px;
  height: 529px;
  margin-top: 3.063rem;
  margin-left: 2%
}
.section-right-img {
  width: 320px;
  height: 381px;
}

.main {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.125rem;
  color: #2c2c2c;
  display: flex;
  justify-content: flex-end;
  margin-top: 34px;
}

.div-main-text {
  margin-top: 37px;
  width: 885px;
}
.div-main-text-english {
  margin-top: 37px;
  width: 885px;
}
.footer {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.75rem;
  margin-top: 54px;
  background-color: #63696e7a;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-list {
  word-spacing: 20px;
}
